<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <br>      
      <a href='/places/new'>Add new Travel Entry</a><br>
      <a href='/places'>Look at online travel diary</a><br>
    </div>
  </body>
</html
