<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <br>
      <form action='/places' method='post'>
        <label for="cityName">Add a new City Name</label>
        <input id="cityName" name="cityName" type="text">
        <label for="daysStayed">Add number of days stayed</label>
        <input id="daysStayed" name="daysStayed" type="text">
        <label for="journalEntry">Add Journal Entry</label>
        <input id="journalEntry" name="journalEntry" type="text">
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html